@import url('reset.css');
@import url('typography.css');
@import url('prettify.css');
@import url('jquery.autocomplete.css');

/* Import Ubuntu Web Font */
@import url('http://fonts.googleapis.com/css?family=Ubuntu:regular,bold,italic');

/*
Layout
*/

body { background: transparent url("../img/dotted-bg.png") top; }
.notify { height: 20px; margin: 0 auto; width: 980px; background: #772953; border-left: 1px solid #CCC; border-right: 1px solid #CCC; }
.notify p { display: inline; }
#close-notify { float: right; margin-right: 5px; cursor: pointer; }
#ab-header { width: 980px; height: 62px; margin: 0 auto; overflow: hidden; background: #DD4814 url("../img/header-bg.png") repeat-x top; border: 1px solid #CCC; border-top: none; }
#ab-logo { width: 130px; height: 62px; float: right; overflow: hidden; display: block; background: transparent url("../img/ubuntu-logo.png") no-repeat 0 10px; width: 120px; height: 40px; margin-right: 10px; }
#ab-main-nav ul { margin: 0; list-style: none; }
#ab-main-nav li { margin: 0; padding: 0; float: left; height: 62px; border-right: 1px solid #DD4814; }
#ab-main-nav li a { display: block; padding: 0 10px; }
#ab-main-nav li a:hover,
#ab-main-nav li a.on { background: transparent url("../img/header-bg-hover.png") repeat-x top; }
#ab-sub-header { width: 980px; height: 35px; margin: 0 auto; overflow: hidden; background-color: #F7F7F7; border-left: 1px solid #CCC; border-right: 1px solid #CCC; }
#ab-sub-header .inner { margin: 0 20px; background: #FFF; padding: 0 5px 0 0; height: 30px; overflow: hidden; }
#searchBar { float: right; }
#ab-meta-nav ul { margin: 0; padding: 0; }
#ab-meta-nav li { padding: 0 5px; list-style: none; float: left; border-right: 1px solid #F7F7F7; }
#ab-meta-nav li a { line-height: 30px; display: block; }
#ab-meta-nav li:hover { background-color: #EEE; }
#ab-meta-nav .user-info a { display: inline; }
#ab-meta-nav .user-info .user-micro-info-karma-label,
a#ab-responses,
#ab-meta-nav .user-info .user-micro-info.badges { display: none !important; }
#container { width: 940px; margin: 0 auto; padding: 10px 20px 20px; overflow: hidden; background-color: #F7F7F7; border-left: 1px solid #CCC; border-right: 1px solid #CCC; min-height: 600px; }
#content { width: 670px; padding: 0; overflow: hidden; margin-right: 10px; }
#sidebar { float: right; clear: right; width: 250px; margin: 0; background-color: #F7F7F7; }
#sidebar .inner { padding: 10px; overflow: hidden; background: #FFF; margin: 0 1px; }
#sidebar .meta { color: #777; margin-top: 10px; }
#sidebar input { max-width: 150px; }

#content .tabBar { background: #FFF; float: right; height: 25px; margin:0 0 20px; padding: 0; overflow: hidden; }
#content .tabBar h2 { float: left; display: inline; margin: 0; padding-left: 5px; padding-right: 5px; }
#content .tabBar .tabsC { float: left; }
#content .tabBar .tabsA { float: left; }
#content #sort_tabs { border-left: 1px solid #CCC; }
#content .evenMore,
#content .search-tips { background: #FFF; margin: 10px 0; padding: 2px 0; clear: both; }

#content .user-content { background: #FFF; padding: 10px; clear: both; margin-bottom: 10px; }
#content .user-info-table { width: 100%; }
#content .user-info-table td { padding: 5px; }
#content .user-info-table .user-profile-tool-links { white-space: nowrap; padding: 0; }
#content .user-info-table .avatar { width: 140px; }
#content .user-info-table .user-details ul { list-style: none; margin-left: 0px; }
#askform .tabBar { background: #EEE; }

#askform,
#fmedit { background: #FFF; padding: 10px; clear: both; margin: 0 1px 10px; }
#id_title,
#id_tags,
#editor,
.wmd-panel { width: 95%; padding: 2px 3px; }
.wmd-preview { width: 95%; overflow: hidden; background: #EEE; border: 1px dotted #CCC; margin: 10px 0; padding: 5px; }

.question-entry ul { list-style: none; margin: 0; padding: 0; }
.question-entry .vote-buttons { float: left; }
.question-entry .question-body { margin-left: 40px; }
.question-entry .question-img-favorite { display: block; margin-top: 5px; }
.question-entry .question-content img { max-width: 99%; }
.question-entry .question-body .clearfix.question { clear: right; }

#question-tags { list-style: none; margin: 0; padding: 0; }
#question-tags li { float: left; padding-left: 10px; padding-right: 10px; background: transparent url("../img/actions/tag.png") no-repeat 0 6px;}
#question-controls ul,
.answer-controls ul { clear: right; float: right; background: #EEE; margin: 0 0 5px; padding: 0; overflow: hidden; }
#question-controls li,
.answer-controls li { float: left; padding: 0; display: block; }
#question-controls li a,
.answer-controls li a { padding: 0 3px; }
#content .post-update-info-container { clear: right; margin: 10px 0; }
#content .post-update-info-container .post-update-info { float: right; padding: 5px 10px; }
#content .post-update-info-container .author { background: #EEE; }
#content .post-update-info-container .updater { margin-right: 10px; }
#content .post-update-info { min-width: 100px; }
#content .post-update-info .gravatar { float: right; margin-left: 5px; }
.post-comments { clear: both; margin-bottom: 10px; }
.post-comments #edit-comment-form { width: 95%; }
.post-comments .counter { float: right; margin-right: 5%; }
.question-entry .comments,
.answer-entry .comments { clear: both; border-top: 1px dotted #333; padding: 5px 10px; margin: 10px 0; }
.content .comment { display: block; border-bottom: 1px dotted #CCC; }
.content .comment .edit { float: right; margin:0 !important; padding: 3px !important; }


.answer-entry ul { padding: 0; list-style: none; clear: both; }
.answer-controls ul { clear: none; }
.answer-entry .vote-buttons { float: left; }
.answer-entry .answer-img-accept { display:block; margin-top: 5px; }
.answer-entry .answer-content { margin-left: 50px; }
#content .answer-entry .post-update-info-container { clear: right; }
#content .answered-by-owner { /* TODO: make it fancy */ }

#content .rss-link p { padding: 0; margin: 0; margin-top: 5px; }
#content .rss-link .rss a { padding-right: 15px; background: transparent url("../img/actions/rss.png") no-repeat 0 right; }

#question-list { clear: both; margin: 10px 0; }
#question-list .short-summary { background-color: #FFF; margin: 10px 1px; padding: 10px; }
#question-list .short-summary .counts .votes,
#question-list .short-summary .counts .answers,
#question-list .short-summary .counts .views { display: block; float: left; margin-right: 5px; }
#question-list .short-summary .counts .views { margin-right: 20px; }
#question-list .short-summary .userinfo { float: right; }
#question-list .short-summary .tags { list-style: none; }
#question-list .short-summary .tags li { float: left; padding-left: 10px; padding-right: 10px; background: transparent url("../img/actions/tag.png") no-repeat 0 6px; }

#related-tags,
#search-tags { list-style: none; margin: 0; padding: 0; }
#search-tags { padding-bottom: 10px; }
#related-tags .tag-left,
#search-tags .tag-right { float: left; padding-right: 5px; background: transparent url("../img/actions/tag.png") no-repeat 0 6px; }
#related-tags .tag-left a,
#search-tags .tag-right { padding-left: 10px; }
#question-count { margin-bottom: 0; }

#ground { padding: 20px 0; width: 100%; background: #EEECEA url("../img/footer-bg.png") repeat-x top; }
#ground .inner { width: 940px; margin: 0 auto; }
#licenseLogo { float: right; }

.clearfix { clear: both; height: 1px; font-size: 1px; }

/*
CSS3
*/
#ab-main-nav li a { text-shadow: #333 1px 1px 1px; }
#ab-sub-header .inner,
#content .tabBar,
#sidebar .inner,
#content .evenMore,
#askform,
#fmedit,
#content .user-content,
#content .post-update-info-container .author,
#question-controls ul,
#question-list .short-summary,
.answer-controls ul,
#content .search-tips { -webkit-box-shadow: 0px 1px 1px #CCC; -moz-box-shadow:0 1px 1px #CCC; box-shadow: 0px 1px 1px #CCC; }


/*
Addons
*/
input[type="text"], textarea { border: 2px solid #CCC; border-right: 1px solid #DDD; border-bottom: 1px solid #DDD; padding: 1px 3px; }

/*
Fancyness
    Buttons from http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba
*/
.awesome,
.awesome:visited {
    background-color: #222; 
    display: inline-block; 
    padding: 5px; 
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    margin: 5px;
}

.awesome:hover { background-color: #111; color: #fff; text-decoration: none; background-color: #d45500; }
.awesome:active { top: 1px; }
.awesome,
.awesome:visited { color: #fff; background-color: #ff5c00; }
