/*
Typogrphy
*/

body { font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif; color: #333; font-size: 80%; line-height: 1.5; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #772953; }
h1 { font-size: 180%; margin-bottom: 10px; }
h2 { font-size: 160%; margin-bottom: 10px; }
h3 { font-size: 140%; margin-bottom: 10px; }
h4 { font-size: 120%; margin-bottom: 10px; }
h5 { font-size: 110%; font-weight: bold; margin-bottom: 10px; }
h6 { font-size: 110%; font-weight: bold; }
a, a:active { color: #772953; }
a:hover { color: #DD4814; }
a:visited { color: #777777; }

hr { border: none; border-bottom: 1px solid #CCC; }
ul { list-style: disc inside; margin-left: 20px; padding-left: 0px; margin-bottom: 1em; }
ol { list-style: decimal inside; margin-left: 30px; margin-bottom: 1em; padding-left: 0px; }
pre { margin-bottom: 10px; overflow: auto; background-color: #F5F5F5; padding-left: 5px; padding-top: 5px; width: 99%; padding-bottom: 20px ! ie7; }
pre,
code { font-family: Consolas, Monaco, Liberation Mono, Lucida Console, Monospace; font-size: 100%; }
.notify { text-align: center; font-weight: bolder; color: #FFF; }
.notify a { color: #FFF; text-decoration: underline; }
#close-notify { line-height: 15px; font-size: 160%; color: #DD4814; text-decoration: none; }
blockquote { margin-bottom: 10px; margin-right: 15px; padding: 10px 0px 1px 10px; background-color: #F5F5F5; }
#ab-logo { padding-top: 35px; font-size: 90%; color: #FFF; text-decoration: none; }
#ab-main-nav li a { line-height: 62px; color: #FFF; text-decoration: none; text-transform: capitalize; }
#ab-meta-nav li a { color: #333; text-decoration: none; }
#ab-meta-nav li:hover a { color: #DD4814; }
#ab-meta-nav li:hover a.awesome { color: #FFF; }
#ab-meta-nav .user-micro-info { font-weight: bolder; padding: 1px 2px; font-size: 70%; }
#ab-meta-nav .user-micro-info:hover { color: #FFF; }
#sidebar h2,
#sidebar h3 { color: #DD4814; font-size: 130%; border-bottom: 1px dotted #DD4814; }
#content .tabBar { text-transform: uppercase; font-size: 80%; }
#content .tabBar h2 { font-size: 100%; line-height: 25px; color: #DD4814; }
#content .tabBar span { display: none; }
#content .tabBar a { color: #333; text-decoration: none; line-height: 25px; padding: 0 5px; display: block; float: left; }
#content .tabBar a:hover,
#content .tabBar a.on { color: #FFF; background: #DD4814 url("../img/header-bg.png") repeat-x 0 -25px;  }
#content .evenMore,
#content .search-tips { text-align: center; }
#content h1 { font-size: 130%; }
#content h1,
#content h1 a { text-decoration: none; color: #772953; text-transform: uppercase; }
#content .user-info-table td { vertical-align: top; }
#content .user-content .scoreNumber,
#content .user-content .scoreTitle { text-align: center; font-weight: bold; font-size: 140%; }
#content .user-content .avatar { text-align: center; }
#content .user-details ul li.label { font-weight: bolder; }
#content .user-about { font-style: italic; color: #333; }
#id_title,
#id_tags { font-size: 140%; }
#askform .title-desc,
#fmedit .title-desc { font-style: italic; color: #777; }
#content h2 { font-size: 130%; color: #333; }
#question-controls li a,
.answer-controls li a { text-transform: uppercase; text-decoration: none; cursor: pointer; font-size: 80%; color: #777; }
#question-controls li a:hover,
.answer-controls li a:hover { background: #772953; color: #FFF; }
#question-tags li a { text-transform: uppercase; text-decoration: none; color: #772953; }
#question-tags li a:hover { color: #DD4814; }
.question-entry .vote-buttons { text-align: center; font-weight: bolder; font-size: 120%; }
#content .post-update-info-container { text-align: right; }
#content .post-update-info p { line-height: 110%; max-width: 200px; }
#content .post-update-info .since { font-style: italic; color: #777; font-size: 90%; }
#content .post-update-info .tip { font-style: italic; color: #777; font-size: 80%; }
#content .post-update-info .www-link { color: #777; font-size: 90%; }
#content .post-update-info .profile-link a { font-weight: bolder; text-decoration: none; font-size: 130%; }
.comments a.button { text-transform: uppercase; }
#fmanswer .email-notify-label,
.post-comments .counter,
.content .comment .age,
#fmanswer .message { font-style: italic; color: #777; font-size: 90%; }
.post-comments .counter { color: #777 !important; }
.content .comment .author { font-weight: bolder; text-decoration: none; color: #333; }
.answer-entry .vote-buttons { text-align: center; font-weight: bolder; }
#question-list .short-summary .counts { text-align: center; }
#question-list .short-summary .counts .item-count { font-weight: bolder; font-size: 140%; line-height: 40px; }
#question-list .short-summary .counts .votes,
#question-list .short-summary .counts .views { color: #777; }
#question-list .short-summary h2 { font-size: 160%; margin-bottom: 0; line-height: 40px; }
#question-list .short-summary .no-votes .item-count,
#question-list .short-summary .no-answers .item-count,
#question-list .short-summary .no-views .item-count { color: #FFF; background-color: #DD4814; width: 40px; display: block; margin: 0 auto; }
#question-list .short-summary .some-answers .item-count { color: #772953; background-color: #EEE; width: 40px; display: block; margin: 0 auto; }
#question-list .short-summary h2 a { text-decoration: none; }
#question-list .short-summary .userinfo .relativetime { color: #777; font-size: 80%; }
#question-list .short-summary .userinfo .user-link { color: #444; text-decoration: none; font-weight: bolder; }
#question-list .short-summary .tags li a,
#related-tags .tag-left a,
#search-tags .tag-right { text-decoration: none; text-transform: uppercase; color: #444; }
#question-list .short-summary .tags li a:hover,
#related-tags .tag-left a:hover { color: #DD4814; }
#content .rss-link .rss a { text-transform: uppercase; text-decoration: none; }
#related-tags .tag-number { font-weight: bolder; }
#content.wide .tags-page ul.tags li a { text-decoration: none; text-transform: uppercase; color: #444; }
#content.wide .tags-page ul.tags li span { font-weight: bolder; }
#content .paginator { text-align: center; }
#content .paginator ul li a { color: #FFF; text-decoration: none; }
#content .paginator ul li a:hover { color: #EEE; }
#content.wide .userList ul li.name a { text-decoration: none; font-weight: bolder; }
#medalList ul li.badge strong { font-weight: bolder; }
#medalList ul li.badge p { float: right; display: inline; padding: 7px 0; font-style: italic; color: #777; }
#sidebar .medal { color: #444; cursor: pointer; }
#sidebar .medal-desc { font-style: italic; color: #777; }

/* BADGES!!! */
.badge1 { color: #FBB829 !important; font-size: 200%; line-height: 1px; padding-top: 3px; float: left; }
.badge2 { color: #CCC !important; font-size: 200%; line-height: 1px; padding-top: 3px; float: left; }
.badge3 { color: #A7998B !important; font-size: 200%; line-height: 1px; padding-top: 3px; float: left; }


/*
Ubuntu Font
*/
#ab-logo,
#ab-main-nav li a,
#ab-meta-nav li,
#content .tabBar,
#content .evenMore,
#content .user-content .scoreNumber,
#content .user-content .scoreTitle,
#content .user-details ul li.label,
#content .search-tips,
#question-tags li,
#question-controls li,
.answer-controls li,
.question-entry .vote-buttons,
#content .post-update-info .profile-link,
#content .post-update-info .badge,
#content .post-update-info .www-link,
.content .comment .author,
.answer-entry .vote-buttons,
#question-list .short-summary .userinfo .user-link,
.notify,
#question-list .short-summary .counts,
#related-tags .tag-number,
#content.wide .tags-page ul.tags li,
#content.wide .userList ul li.name,
#medalList ul li.badge strong,
#sidebar .medal,
.awesome,
h1,
h2,
h3,
h4,
h5,
input[type="submit"],
label { font-family: 'Ubuntu', sans-serif; }

