{% extends "two_column_body.html" %}
<!-- template badges.html -->
{% block title %}{% spaceless %}{% trans %}Badges summary{% endtrans %}{% endspaceless %}{% endblock %}
{% block content %}
<div class="inner badges-page">
<h1>{% trans %}Badges{% endtrans %}</h1>
<p>
{% trans %}Community gives you awards for your questions, answers and votes.{% endtrans %}<br/>
{% trans %}Below is the list of available badges and number 
of times each type of badge has been awarded. Give us feedback at {{feedback_faq_url}}.
{% endtrans %}
</p>
<div id="medalList">
    <ul>
    {% for badge in badges %}
        <li class="badge">
            {% for a in mybadges %}
                {% if a.badge_id == badge.id %}
                 <span class="owned">&#10004;</span>
                {% endif %}
            {% endfor %}
            <a href="{{badge.get_absolute_url()}}" 
                title="{{badge.get_type_display()}} : {{badge.description}}" 
                class="medal"><span class="{{ badge.css_class }}">&#9679;</span>&nbsp;{{badge.name}}</a><strong> 
                &#215; {{ badge.awarded_count|intcomma }}</strong>
            <p>{{badge.description}}</p>
        </li>
    {% endfor %}
    </ul>
</div>
</div>
{% endblock %}
{% block sidebar %}
<div class="inner">
<div class="boxC">
    <h2>{% trans %}Community badges{% endtrans %}</h2>
    <p>
        <a  class="medal"><span class="badge1" title="{% trans %}gold badge: the highest honor and is very rare{% endtrans %}">&#9679;</span>&nbsp;{% trans %}gold{% endtrans %}</a>
    </p>
    <p class="medal-desc">
        {% trans %}gold badge description{% endtrans %}
    </p>
    <p>
        <a 
            title="{% trans %}silver badge: occasionally awarded for the very high quality contributions{% endtrans %}" 
            class="medal"><span class="badge2">&#9679;</span>&nbsp;{% trans %}silver{% endtrans %}</a>
    </p>
    <p class="medal-desc">
        {% trans %}silver badge description{% endtrans %}
    </p>
    <p>
        <a title="{% trans %}bronze badge: often given as a special honor{% endtrans %}" class="medal">
        <span class="badge3">&#9679;</span>&nbsp;{% trans %}bronze{% endtrans %}</a>
    </p>
    <p class="medal-desc">
        {% trans %}bronze badge description{% endtrans %}
    </p>
</div>
</div>
{% endblock %}
<!-- end template badges.html -->
